button,
input,
select,
textarea {
    color: #64717D;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: helveticaneue, helvetica,  arial, serif;
    background: url("../img/subtle-pattern-5.jpg") repeat 0 0;
}


hr {
    display: block;
    height:0px;
    border: 0;
    border-top: 1px solid rgba(162, 176, 190, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1em 0;
    padding: 0;
}


textarea {
    resize: vertical;
}
/**
* Buttons
*/
a.button {
    display: block;
    position: relative;
    height: 25px;
    width: 80px;
    margin: 0 10px 18px 0;

    text-decoration: none;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 25px;
    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: pointer;
}

a.button:before,
a.button:after {
    content: '';
    position: absolute;
    left: -1px;
    height: 25px;
    width: 80px;
    bottom: -1px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.button:before {
    height: 23px;
    bottom: -4px;
    border-top: 0;

    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 1px 1px 0px #bfbfbf;
}
/* Gray */
a.gray,
a.gray:hover,
a.gray:visited {
    color: #555;
    border-bottom: 4px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;

    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);

    box-shadow: inset 1px 1px 0 #f5f5f5;
}

.gray:before,
.gray:after {
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #a5a5a5;
}

a.gray:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
}
/* Green */
a.green,
a.green:hover,
a.green:visited {
    color: #5d7731;
    border-bottom: 4px solid #799545;
    text-shadow: 0px 1px 0px #d5e8aa;

    background: #cae285;
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
    background: -moz-linear-gradient(top,  #cae285,  #a3cd5a);

    box-shadow: inset 1px 1px 0 #cce3a1;
}

.green:before,
.green:after {
    border: 1px solid #98b85b;
    border-bottom: 1px solid #6d883b;
}

a.green:hover {
    background: #a3cd5a;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3cd5a), to(#cae285));
    background: -moz-linear-gradient(top,  #a3cd5a,  #cae285);
}

/* Button active state */
a.button:active {
    border: none;
    bottom: -4px;
    margin-bottom: 22px;

    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:  0 1px 1px #fff;
    box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

a.button:active:before,
a.button:active:after {
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/**
* Form
*/
section {
    width: 35%;
    margin: 2em auto;
}
.content {
    /*background: #c0c0c0;*/
    padding: 4em 0 0 0;
    position: relative;
}
.line {
    padding: 0.2em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #50575E;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
.line div {
    float: left;
    width: 40%;
    line-height: 2.5em;
}

.line input {
    width: 55%;
    float: right;
    font-size: 0.9em;
    padding: 0.5em;
}

.save-notice {
    background: rgba(134, 179, 84, 0.4);
    border: 1px solid rgba(134, 179, 84, 0.6);
    padding: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #6D8651;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
    font-weight: bold;
    position: absolute;
    width: 92%;
    top: 0;
    left: 0;
    display: none;
}


